---
id: document-verification
title: Document Verification
---


After term has started, usually at the beginning of September, NUS will conduct a verification exercise of documents used for application to the university. So, here's a reminder to all incoming freshmen! Don't forget to pack all those documents! These may include your SMA report book, your UNAS results as well as miscellaneous test result slips and award certificates. 


Additional tips: Please scan and save digital copies of important document such as your passport, kartu keluarga, etc. You may need this to apply for financial aid and other related programs.
<!--stackedit_data:
eyJoaXN0b3J5IjpbNjYyNjY0OTU5LC0xNjc5OTAwMTEzXX0=
-->